<body>
    <div class="col">
        <h4>Categorias</h4>
    </div>
    <!-- Tabla -->
    <div class="tabla-container">
        <table class="table table-hover">
            <thead>
                <tr class="table-dark">
                    <!-- Registros -->
                    <th scope="col">category_id</th>
                    <th scope="col">acronym</th>
                    <th scope="col">category</th>
                    <th scope="col">status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-success">
                    <th scope="row">1</th>
                    <td>TECH</td>
                    <td>Tecnología</td>
                    <td>Activa</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>FASH</td>
                    <td>Moda</td>
                    <td>Activa</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">3</th>
                    <td>TRAV</td>
                    <td>Viajes</td>
                    <td>Activa</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>FOOD</td>
                    <td>Comida</td>
                    <td>Activa</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>