<body>
    <div class="col">
        <h4>Categorias</h4>
    </div>
    <!-- Tabla -->
    <div class="tabla-container">
        <table class="table table-hover">
            <thead>
                <tr class="table-dark">
                    <!-- Registros -->
                    <th scope="col">category_id</th>
                    <th scope="col">acronym</th>
                    <th scope="col">category</th>
                    <th scope="col">status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ category.acronym }}</td>
                    <td>{{ category.category }}</td>
                    <td>{{ category.status }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>